<!DOCTYPE html>
<html>

<head>
    <title>

    </title>


<body>
    <main>
        <div>
            <p>
                <a href="{% url 'list_todos' %}">Back to Lists</a>
            </p>

            <h1>{{ todolist.name }}</h1>
            <p>
                <a href="{% url 'update_todolist' todolist.id %}">Edit</a>
            </p>

            <p>
                <a href="{% url 'delete_todolist' todolist.id %}">Delete</a>
            </p>

            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>

                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'update_todoitem' item.id %}">{{ item.task }}</a>
                        </td>
                        <td>{{ item.due_date|date:"M d, Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>