<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
</head>
<boday>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>


            </form>
        </div>
    </main>
</boday>

</html>