<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'create_todoitem' %}">Create a new item</a>
            </p>
            <p>
                <a href="{% url 'create_todolist' %}">Create a new list</a>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show_todolist' item.id %}"> {{ item.name }}

                        </td>
                        <td>{{ item.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
</body>

</html>